<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mf_alert_admin" frontName="mf_alert_admin">
            <module name="Magefan_Alert" before="Magento_Backend"/>
        </route>
    </router>
</config>
